.card-roxo{
    max-width: 350px;
    background-color: rgba(117, 0, 212, 0.137);
    border-radius: 25px;
    padding: 30px;
    font-family: 'Courier New', Courier, monospace;

    &__item{
        padding: 10px;
    }

    &__plan {
        font-size: 22px;
    }

    &__price {
        font-weight: 600;
        font-size: 40px;
    }

}